.contentbox-container {
    padding: 90px 0 51px 0;
    background-color: #f7f5f5;
    position: relative;
    margin-top: -8px;
}

.contentbox-wrap {
    display: flex;
    flex-direction: column;

    position: relative;
    background-color: white;
    padding-bottom: 0;
    margin-bottom: 30px;
    border-radius: 12px;

    max-width: 70%;
    margin-left: 15%;
}

.contentbox-inner {
    padding: 45px 40px 10px 40px;
}

.contentbox-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 7px;
}

.contentbox-info {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #999;
    gap: 8px;
    border-bottom: 1px solid #9999995b;

    padding-bottom: 24px;
}

.contentbox-text {
    margin-top: 32px;
}

.contentbox-block {
    margin-bottom: 50px;
}

.contentbox-block-inner {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.con-download {
    background-color: #760023;
    border-radius: 5px;
    max-width: 850px;
    padding: 14px;
}

.con-download a {
    color: white;
    text-decoration: none;
}

.con-title{
    max-width: 180px;
    width: 100%;
}

.youtube-player iframe {
    width: 560px;
    height: 315px;
  }

.overview1 {
    margin-bottom: 8%;
    font-weight: 600;
}

.overview2 {
    letter-spacing: 1px;
    border-bottom: 1px solid #9999995b;
    padding-bottom: 24px;
}

.review-text {
    padding-top: 12px;
}