.bottom-container{
    width: 100%;
    height: 13rem;
    background-color: #000;
    color: #fff;
    margin: 0 auto;
    padding: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-up{
    font-size: larger;
}

.bottom-down{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.bottom-down p{
    font-size: small;
}

.bottom-down img{
    margin-right: 10px;
    width: 2.6rem;
}
