.card-container .card-contents .card-img {
    width: 100%;
    height: 45vh;
}

.card-container {
    width: 100%;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.card-container .card-contents .card-items .card-notice {
    display: flex;
    flex-direction: column;
}

.card-container .card-contents .card-items .card-title {
    font-size: 15px;
    font-weight: bold;
}

.card-container .card-contents .card-items .card-date {
    font-size: 13px;
    font-weight: bold;
}

.card-container .card-contents .card-items .card-description {
    font-size: 12px;
    font-weight: bold;
    color: rgb(145, 145, 145);
}

.card-container .card-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
}