.tapbar-container {
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.category {
    list-style: none;
    padding: 0;
    margin: 10px 60px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}



.category button {
    background: none;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

.category button span {
    font-weight: bold;
    color: #4e4e4e;
}

.category button:hover span {
    color: #000;
}

.tapbar-container .active span {
    color: #000;
    border-bottom: 2px solid black;
}
